*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
@media(max-width: 600px) {

}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.navigation a{
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;

}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnlogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}
.navigation .btnlogin:hover{
    background: #fff;
    color: #162938;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0 ,0 ,0 .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h1{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #fff;
    margin: 30px 0 ;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #fff;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    padding: 0 40px 0 7px ;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 60px;
}
.Remember-forget{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.Remember-forget label input{
    accent-color: #a9a9a9;
    margin-right: 3px;
}
.Remember-forget a{
    color: #fff;
    text-decoration: none;
}
.Remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #a9a9a9;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
}
.login-register{
    font-size: .9em;
    color: #a9a9a9;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}